
@{
    ViewBag.Title = "Form Submit";
}
<main aria-labelledby="title">

    <h6 id="title">@ViewBag.Title.</h6>
    <h3>@ViewBag.Message</h3>

    @using (Html.BeginForm("FormSubmit", "Home", FormMethod.Post))
    {

        <input type="hidden" name="hdTotalRow" value="5"/>
        for (int i = 0; i < 5; i++)
        {
            <input type="text" name="txtName_@i" placeholder="Name" />
            <input type="text" name="txtAge_@i" placeholder="Age" />
            <input type="text" name="txtEducation_@i" placeholder="Education" />
            <input type="text" name="txtHobby_@i" placeholder="Hobby" />
            <select name="ddlSelect_@i">
                <option value="1">Dhaka</option>
                <option value="2">Khulna</option>
                <option value="3">Barishal</option>
                <option value="4">Sylhet</option>
            </select>
            <input type="checkbox" name="chkBox_@i" />
            <br/>
        }

        <input type="submit" value="Save" name="btnSubmit" />
    }


</main>