@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@{
    ViewBag.Title = "Model Binging";
}
<main aria-labelledby="title">

    <h6 id="title">@ViewBag.Title.</h6>
    <h3>@ViewBag.Message</h3>



</main>