@model MVC_MIS.Models.BaseEmployee

@{
    Layout = "~/Views/Shared/_FindLayout.cshtml";
}
<br />
<form action="@Url.Action("Employee", "Find")" method="post">

    @Html.TextBoxFor(m => m.EmployeeName)
    @Html.TextBoxFor(m => m.EmployeeCode)

    <input type="submit" value="Save" />
</form>

<br />





<div class="row">
    @{
        string[] strings = { "C#", "CSS", "HTML5", "SQL", "React", "jQuery", "JavaScript" };
        foreach (string skill in strings)
        {
            <div class="col">
                <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
                    <div class="card-header">Skills</div>
                    <div class="card-body">
                        <h5 class="card-title">@skill</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
